body {
    background-color: red;
}



































/* #navbar {
    flex-direction: column;
} */

























































/* 
#services {
    display: flex;
    flex-direction: column;
}

/* 
#services .box {
    width: 100;
} */


/* #services .box {
    width: 10px;
}

#home {
    height: 812px;
}

#services {
    margin: 42px;

}

#services .box {
    width: 521px;
    margin: 34px 193px;
}


#clients {
    overflow: hidden;
}

*/

/* #services {
    display: flex;
    flex-direction: column;
}

#services .box {
    width: 370px;
} */